<h4>Calorie tracker</h4>
<hr/>
<div>
<p>Total calories: {{ getTotalCalories()}}</p>
  <button routerLink="new-meal" class="btn btn-success mb-4">Add new meal</button>
</div>
<div class="spinner-border" *ngIf="loading">
  <span class="sr-only">Looking.... Please wait for a moment</span>
</div>
<ng-container>
  <app-meal-item *ngFor="let meal of meals" [meal]="meal"></app-meal-item>
</ng-container>
