<div class="row mt-2">
  <div class="col-5">
    <h4>{{isEdit ? "Edit" : "Add new meal"}}</h4>
    <a routerLinkActive="active" routerLink="edit">edit meal</a>

    <form (ngSubmit)="onSubmit()" #f="ngForm">

      <div class="form-group">
        <label for="category">Category</label>
        <select
          name="category"
          id="category"
          class="form-control"
          ngModel
        >
          <option value="Breakfast">Breakfast</option>
          <option value="Snack">Snack</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Meal description</label>
        <input
          type="text"
          name="description"
          id="description"
          class="form-control"
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="calories">Calories</label>
        <input
          type="text"
          name="calories"
          id="calories"
          class="form-control"
          ngModel
        >
      </div>

      <button
        type="submit"
        class="btn btn-success"
        name="saveBtn"
        [disabled]="isUploading"
        >
        <span *ngIf="!isUploading">
        {{isEdit ? "Edit" : "Save" }}
      </span>
        <span
          *ngIf="isUploading"
          class="spinner-border spinner-border-sm">
            <span class="sr-only">Loading....</span>
          </span>
      </button>
    </form>
  </div>
</div>
