<div class="card mb-4" >
  <div class="row no-gutters">
    <div class="col-8 pl-3">
      <div class="card-title">Calories: {{ meal.calories }}</div>
      <div class="card-title">Description: {{ meal.description }}</div>
      <div class="card-title">Category: {{ meal.category}}</div>
    </div>
    <div class="col-md-4">
      <a type="submit" class="btn btn-danger" routerLink="edit">Edit</a>&nbsp;
      <button type="submit" class="btn btn-danger" (click)="deleteMeal(mealId)">X</button>
    </div>
  </div>
</div>
